a{
    text-decoration: none;
    color:#312c59;
}
a:active{
  color:#312c59;
}
a.activeLink{
  color:#7c9473;
}
.dialog{
  padding: 5px;
  display: flex;
  flex-direction: column;
  
  /* text-align: center; */
}
.dialogText{
  padding-left: 15px;
  padding-top: 10px;
}

.dialog img{
  height: 100px;
  width: 70px;
}