.cover{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
}
.message{
    padding-top: 5px;
    width: 75%;

}


.img{
    width: 12%;
    height: 60px;
}