.header{
    grid-area: h;
    background-color: #cdd0cb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
  .circle{
    border: 3px solid #7c9473;
    /* border-radius: 400px; */
    width: 85px;
    /* height: 55px; */
    display:flex;
    justify-content: center;
    align-items: center;
    
  }
  .sitebar{
    display: flex;
    width: 40%;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

.login-block{
  
}
